@charset "UTF-8";
body {
font-family: "Raleway", Helvetica, Arial, "Lucida Grande", sans-serif;
font-weight: 400;
color: #333;
height: 100%;
margin: 0px auto;
padding: 0px;
font-size: 1.1em;
position: relative;
-webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
    color: #377491;
}

a:hover {
  color: #32742C;
  text-decoration: underline;
}

.sidebar {
  position: fixed;
  left: 15px;
  top: 15px;
  width: 80px;
  font-family: "Raleway", Helvetica, Arial, "Lucida Grande", sans-serif; }
  .sidebar a {
    text-decoration: none; }
  .sidebar img {
    padding: 0 3px;
    border: 0; }
  .sidebar .avatar {
    padding: 0;
    margin-left: 2px;
    border-radius: 5px; }
  .sidebar .name {
    text-transform: uppercase;
    margin: 10px 0 20px 0; }
    .sidebar .name #fname {
      padding-left: 1px;
      font-size: 23px;
      letter-spacing: 1.5px;
      color: black; }
    .sidebar .name #lname {
      font-size: 19px;
      font-weight: bold;
      letter-spacing: 3px;
      color: black; }
  .sidebar a {
    color: black;
  }
  .sidebar a:hover {
    color: #32742C;
  }
  .sidebar .meta a {
    margin-left: 0px;
  }
  .sidebar .sections {
    margin: 22px 0 0 0; }
    .sidebar .sections a {
      padding: 5px 0;
      font-size: 1.0em;
      display: block; }
    .sidebar .sections ul {
      margin: 0;
      padding: 0; }
    .sidebar .sections li {
      list-style: none;
      margin-bottom: 7px; }

h1, h2, h3, h4 {
    font-family: "Raleway", serif;
    font-weight: 300;
}



.content h1 a, .content h2 a, .content h3 a{
  color: #333;

}

.content {
  width: 800px;
  margin-left: 300px;
  margin-right: 20px;
  margin-bottom: 50px;
  padding: 40px 0px; }
  .content h1 {
    font-size: 36px;
  }
  .content h2 {
    font-size: 30px;
    margin-bottom: 15px; }
  .content h3 {
    font-size: 25px;
    padding-bottom: 5px;
    margin-bottom: 10px; }
  .content p {
    margin-top: 0;
    margin-bottom: 1.2em;
    line-height: 1.7em; }
  .content img {
    padding: 3px;
    /*border: 1px solid #eeeeee;*/
    max-width: 100%; }
  .content li {
    margin-bottom: 10px;
    line-height: 1.5em; }
blockquote {
background:#f9f9f9;
border-left:10px solid #ccc;
margin:1.5em 10px;
padding:.5em 10px;
quotes:"\201C""\201D""\2018""\2019";
}
blockquote:before {
color:#ccc;
content:open-quote;
font-size:4em;
line-height:.1em;
margin-right:.25em;
vertical-align:-.4em;
}
blockquote p {
display:inline;
}
blockquote cite {
color: #999999;
font-size: 14px;
display: block;
margin-top: 5px;
}

blockquote cite:before {
content: "\2014 \2009";
}

.content {
  font-family: "Raleway", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.content .byline {
  margin-bottom: 17px;
  padding-left: 0px;
  font-size: 17px;
  color: #777; }
.content .aside {
  background-color: #eeeeee;
  padding: 14px;
  font-size: 14px;
  margin: 5px 0 15px 0;
  line-height: 1.6em; }
.content .listing {
  margin: 10px 0 0 0;
  padding: 0;
  font-size: 0.8em;}
  .content .listing ul {
    margin: 0;
    padding: 0; }
  .content .listing li {
/*      font-size: 0.8em;*/
    list-style: none;
    padding: 5px 3px;
    margin: 0;
    color: #777777;
    border-bottom: 1px solid #eee; }
  .content .listing li span {
    float: right; }
.content .meta {
  margin: 30px 0;
  padding: 10px 0;}
  .content .meta p {
    line-height: 1.4;
    font-size: 14px;
    margin-top: 0px;
    color: #666666}
  .content .meta img {
    position: relative;
    float: left;
    margin-top: 0px;
    margin-right: 10px;
    margin-left: -60px;
    border-radius: 4px; }
  .content .meta .copy {
    padding-left: 60px; }
  .content .meta iframe {
    padding-left: 5px; }
.content .talk-design .color div {
  float: left;
  margin-right: 10px;
  padding: 5px 15px;
  border: 1px solid #000;
  font-size: 12px;
  font-weight: bold; }
.content .talk-design .color .white {
  color: #fff; }


.footnotes {
  font-size: 0.8em;
}

/* Footer */
footer {
  position: absolute;
  width: 100%;
  margin-top: 45px;
  font-size: 80%;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999999;
}


footer .meta {
  float: right;
  text-align: right;
  margin-right: 40px;
}

footer ul {
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}

footer .company {
  float: left;
  margin-left: 25px;
}

.rss a {
  color: #999999;
  float: right;
}

code {
  font-family: Menlo, Consolas, monospace;
  font-size: 0.9em;
}

